* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button {
    margin: 0;
    padding: 0;
    /* border: none; */
    border-color: transparent;
    background-color: transparent;
    color: inherit;
}

*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    height: 100%;
}

.fbx {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bai-jamjuree-regular {
    font-family: "Bai Jamjuree", serif;
    font-weight: 400;
    font-style: normal;
}


.bai-jamjuree-semibold {
    font-weight: 600;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 1110px;
    margin-left: auto;
    margin-right: auto;
}

section {
    /* логічні відступи */
    /* padding-block: 10px 20px;
    padding-block-start: 10px;
    padding-block-end: 20px;

    padding-inline: 5px 15px;
    padding-inline-start: 5px;
    padding-inline-end: 15px; */
    padding-block: 75px;
}

body {
    background-image: url(./images/bg-header-desktop.png);
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: contain;
}

.app-download {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.app-download a.mac:hover {
    background-color: rgba(97, 115, 255, 0.76);
}

.app-download a.ios:hover {
    background-color: rgba(38, 187, 165, 0.718);
}

.app-download a {
    width: 227px;
    height: 56px;
    border-radius: 28px;
    display: inline-block;
    align-content: center;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
}

header {
    text-align: center;
    padding-block-start: 128px;
    padding-block-end: 75px;
}

header img {
    margin-bottom: 55px;
}

h1 {
    max-width: 730px;
    font-size: 46px;
    line-height: 58px;
    text-align: center;
    letter-spacing: -0.75px;
    color: #4C545C;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
}

header p {
    max-width: 730px;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.15px;
    color: #9EABB2;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
}

.ios {
    background: #26BBA4;
    box-shadow: 0px 10px 20px rgba(137, 229, 199, 0.5), inset 0px -3px 0px rgba(0, 0, 0, 0.15);
    transition: 0.5s ease-out;
}

.mac {
    background: #6174FF;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.09), inset 0px -3px 0px rgba(0, 0, 0, 0.15);
    transition: 0.5s ease-out;
}

main {
    text-align: center;
}

main h2 {
    max-width: 730px;
    font-size: 36px;
    line-height: 45px;
    text-align: center;
    letter-spacing: -0.58px;
    color: #4C545C;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 19px;
}

.p {
    max-width: 730px;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.135px;
    color: #9EABB2;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
}

.keep {
    min-height: 572px;
    /* background-color: red; */
    align-content: center;
    position: relative;
}

.bg-mac {
    background-image: url(./images/image-computer.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    max-width: 752px;
    width: 100%;
    min-height: 572px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-100%, -50%);
}

.keep-info {
    margin-left: auto;
    max-width: 406px;
    text-align: left;
    display: flex;
    flex-direction: column;
    row-gap: 56px;
}


main article h3 {
    max-width: 350px;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: -0.391304px;
    color: #4C545C;
    margin-bottom: 8px;
}

main article p {
    max-width: 350px;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.12px;
    color: #9EABB2;
}

.h2 {
    max-width: 730px;
    font-size: 36px;
    line-height: 45px;
    text-align: center;
    letter-spacing: -0.586957px;
    color: #4C545C;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 19px;
}

.pp {
    max-width: 730px;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.135px;
    color: #9EABB2;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 110px;
}

.bg-duo {
    background-image: url(./images/image-devices.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    max-width: 812px;
    min-height: 475px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    /* background-position: right bottom; */
}

.super-info {
    display: flex;
    justify-content: center;
    column-gap: 30px;
    row-gap: 60px;
    flex-wrap: wrap;
}

.super-info article {
    max-width: 350px;
}

.ppp {
    max-width: 730px;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.135px;
    color: #9EABB2;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
}

.super-icon {
    width: 50px;
    height: 40px;
    background-repeat: no-repeat;
    /* background-color: red; */
    background-position: center center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

.blacklists {
    background-image: url(./images/icon-blacklist.svg);
}

.text {

    background-image: url(./images/icon-text.svg);
}

.preview {
    background-image: url(./images/icon-preview.svg);
}

.logos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 90px;
    padding-left: 5px;
    padding-right: 5px;
    row-gap: 50px;
}

.pppp {
    max-width: 730px;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.135px;
    color: #9EABB2;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
}

footer {
    display: flex;
    min-height: 150px;
    background: rgba(158, 171, 178, 0.1);
}

footer div.container {
    display: flex;
    column-gap: 135px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

footer div.container>img {
    width: 55px;
    height: 55px;
}

.social {
    display: flex;
    justify-content: center;
    justify-self: end;
    margin-left: auto;
    column-gap: 24px;
    align-items: center;
}

nav {
    flex-basis: 540px;
}

nav ul {
    display: flex;
    /* max-width: 540px; */
    column-gap: 30px;
    list-style: none;
    flex-wrap: wrap;
    /* width: 100%; */
    row-gap: 12px;
}

nav ul li {
    flex-basis: 160px;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.135px;
    color: #4C545C;
}

.social a {
    width: 48px;
    height: 48px;
    background-color: #4C545C;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.social a:hover .facebook {
    filter: invert(32%) sepia(80%) saturate(4725%) hue-rotate(311deg) brightness(95%) contrast(84%);
}

.social a:hover .tvitter {
    filter: invert(36%) sepia(9%) saturate(3388%) hue-rotate(185deg) brightness(80%) contrast(97%);
}

.social a:hover .instagram {
    filter: invert(56%) sepia(57%) saturate(2352%) hue-rotate(154deg) brightness(130%) contrast(102%);
}
/* @media(orientation:portrait){
    body{
        background-color: pink;
    }
    .portrait{
        font-weight: 900;
    }
    table{
        display: none;
    }
}
@media(orientation:landscape){
    body{
        background-color: violet;
    }
    .portrait{
        display: none;
    }
    table{
        display: table;
    }
} */