@media (max-width:1110px) {
    .keep {
        /* min-height: 572px; */
        /* background-color: red; */
        display: flex;
        /* align-content: center; */
        position: static;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        row-gap: 112px;
    }

    .bg-mac {
        /* width: 752px;
        height: 572px; */
        position: static;
        /* left: 50%;
        top: 50%; */
        transform: translate(0, 0);
    }

    .keep-info {
        margin-left: 0;
        /* max-width: 406px; */
        text-align: center;
    }
    footer{
        min-height: 350px;
    }
    footer div.container {
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
    }
    nav{
        flex-basis: 0;
    }
    nav ul{
        justify-content: center;
    }
    .social {
        margin-left: 0;
    }
}